.nav > li {
    color: #dedfe0;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.body-container {
    width: 1000px;
    margin: auto;
}

.category-error {
    margin: auto;
}

.footer-box {
    border-top: 1px solid #dedfe0;
}