.container {
    width: 1000px;
}

.search-selector {
    width: 150px;
}

.input-group {
    width: 750px;
}

.btn-upload {
    position: fixed;
    top: 150px;
    right: calc(50% + 10px);
    transform: translateX(760%);
    background-color: #2ac1bc;
    border: none;
}

.btn-upload:hover {
    background-color: #17a2b8;
}

.card {
    max-width: 270px;
}

.card > dl.row {
    margin-bottom: 0px;
}

.card > .btn-primary {
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}