#mypage-form {
    padding: 25px;
    overflow: auto;
}

#mypage-form .form-group {
    float: left;
    margin-bottom: 0;
}

#mypage-form .form-group:last-child {
    position: relative;
    float: right;
    width: calc(100% - 250px - 2px - 25px);
    height: 250px;
}

#mypage-form .form-group:last-child {
    float: right;
}

#mypage-image {
    position: relative;
}

#mypage-image img {
    width: 250px;
    height: 250px;
}

#mypage-aboutme textarea {
    resize: none;
}

#mypage-modify {
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.off {
    border: none;
    background-color: #FFF !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.upload {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 150px;
    text-align: center;
    line-height: 1.5;
}

.tab-pane.active {
    min-height: 400px;
}