#mypage-form {
    padding: 25px;
    overflow: auto;
}

#mypage-form .form-group {
    float: left;
    margin-bottom: 0;
}

#mypage-form .form-group:last-child {
    position: relative;
    float: right;
    width: calc(100% - 250px - 2px - 25px);
    height: 250px;
}

#mypage-form .form-group:last-child {
    float: right;
}

#mypage-image {
    position: relative;
}

#mypage-image img {
    width: 250px;
    height: 250px;
}

#mypage-aboutme textarea {
    resize: none;
}

#mypage-modify {
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.off {
    border: none;
    background-color: #FFF !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.upload {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 150px;
    text-align: center;
    line-height: 1.5;
}

.tab-pane.active {
    min-height: 400px;
}




.card-columns {
    column-count: 1;
}

.card.item {
    max-width: 270px;
    margin: 20px 10px;
}

.card-header {
    padding: 0px;
    height: 270px;
    background-color: #eee;
}

.card-header img {
    width: 100%;
    height: 100%;
}

.card-header .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: 1px solid white;
}

.card .card-text {
    margin-bottom: 5px;
}

.card .chef {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card .chef-img-container {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: dotted 1px lightgray;
    border-radius: 3px;
    text-align: center;
}

.card .chef-img-container img {
    width: 100%;
    height: 100%;
}

.card dl, .car dd {
    margin-bottom: 4px;
}

.card .rating-app, .card .rating-app dd {
    margin-bottom: 0px;
}

.card dl.row {
    margin: auto;
    padding: 0px 10px;
}

.card dl.row dt {
    width: 100px;
}

.card > .btn-primary {
    width: 100%;
    border-radius: 0px;
}

.card .price {
    margin-top: 5px;
}

/*리뷰*/

li {
    list-style-type: none;
}

.checked {
    color:orange;
}

#reviews-count{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.47;
    margin-bottom: 24px;
}



#product-comments-list > li {
    margin-right:25px;
    font-weight:lighter;
    padding: 16px 0;
    border-bottom: 1px solid #e9ecef;
}

#product-comment-rating {
    display: inline-block;
    margin-left: 10px;
}

.product-comment-profile {
    display: inline-block;
    vertical-align: middle;
}

.product-comment-profile img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.product-comment-nickname {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47;
    letter-spacing: -0.5px;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.product-comment-region-name {
    display: inline-block;
    font-size: 13px;
    line-height: 1.46;
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.product-comment-text {
    padding-top: 8px;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: -0.5px;
}
.product-comment-address {
    display: inline-block;
    font-size: 13px;
    line-height: 1.46;
    letter-spacing: -0.5px;
    color: #868e96;
    margin-top: 8px;
}

.star {
    background: none;
    border: none;
    font-size: 1.5em;
    padding: 0 0.15em;
}

.remove-button-shape {
    padding: 0;
    border: none;
    background: none;
}
.product-comment{
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ecef;
}