.image-preview {
    height: 520px;
}

.main, .sub {
    overflow: auto;
}

.img-thumb {
    float: left;
    margin-right: 10px;
}

.main .img-thumb {
    width: 400px;
    height: 400px;
}

.sub .img-thumb {
    width: 72px;
    height: 72px;
}

.feedback {
    display: 'inline-block';
    visibility: hidden;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.feedback.on {
    visibility: visible;
}