.main, .sub {
    overflow: auto;
}

.img-thumb {
    float: left;
    margin-right: 5px;
}

.main .img-thumb {
    width: 320px;
    height: 320px;
}

.sub .img-thumb {
    width: 60px;
    height: 60px;
}

.feedback {
    /*display: 'inline-block';*/
    visibility: hidden;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.feedback.on {
    visibility: visible;
}

.fluid-box {
    overflow: hidden;
}

.left-group {
    float: left;
    max-width: 600px;
}

.right-group {
    float: right;
}

.form-group label {
    font-size: 1.3rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #2ac1bc;
    border-color: #2ac1bc;
}