.feedback {
    visibility: hidden;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.feedback.on {
    visibility: visible;
}

.fluid-box {
    overflow: hidden;
}

.left-group {
    float: left;
    max-width: 600px;
}

.right-group {
    float: right;
}

.form-group label {
    font-size: 1.3rem;
    font-weight: bold;
}