<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>배민나눔찬</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">

    <script src="/js/lib/jquery-3.3.1.slim.min.js" defer></script>
    <script src="/js/lib/bootstrap.min.js" defer></script>
    <script src="/js/base.js" type="module" defer></script>

{{#block "header"}}
{{/block}}
</head>

<body>

{{#block "navigation"}}
<header>
    <nav class="navbar navbar-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand font-weight-bold" href="/">배민나눔찬</a>
            </div>
            <ul class="nav">
                {{^ loginedUser }}
                <li class="nav-item">
                    <a class="nav-link" href="/login.html">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup.html">회원가입</a>
                </li>
                {{/ loginedUser }}
                {{# loginedUser }}
                <li class="nav-item">
                    <a class="nav-link logout" href="#">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mypage.html">마이페이지</a>
                </li>
                {{/ loginedUser }}
            </ul>
        </div>
    </nav>
    <nav class="navbar nav-pills nav-justified">
        <div class="container categories">
        </div>
    </nav>
</header>
{{/block}}

<div class="body-container justify-content-center">
{{#block "contents"}}
{{/block}}
</div>

{{#block "footer"}}
<footer class="footer">
    <div class="container footer-box pt-3 mb-4">
        <span class="text-muted d-block">서울특별시 송파구 올림픽로 295 (신천동 7-22) 삼성생명빌딩 8층 (주)unnies</span>
        <span class="copyright text-muted d-block">© <strong>unnies in Woowa Brothers Corp.</strong> All right Reserved</span>
    </div>
</footer>
{{/block}}

</body>
</html>