<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>배민나눔찬</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/tui/codemirror.css">
    <link rel="stylesheet" href="/css/tui/github.css">
    <link rel="stylesheet" href="/css/tui/tui-editor.min.css">
    <link rel="stylesheet" href="/css/tui/tui-editor-contents.min.css">

    <link rel="stylesheet" href="/css/detail.css">

    <script src="/js/lib/jquery-3.3.1.slim.min.js" defer></script>
    <script src="/js/lib/bootstrap.min.js" defer></script>

    <script src="/js/lib/tui/markdown-it.js" defer></script>
    <script src="/js/lib/tui/to-mark.js" defer></script>
    <script src="/js/lib/tui/tui-code-snippet.js" defer></script>
    <script src="/js/lib/tui/codemirror.js" defer></script>
    <script src="/js/lib/tui/highlight.pack.js" defer></script>
    <script src="/js/lib/tui/squire-raw.js" defer></script>
    <script src="/js/lib/tui/tui-editor-Editor.min.js" defer></script>

    <script src="/js/rating.js" defer></script>
    <script src="/js/detail.js" type="module" defer></script>

</head>
<body>
<div class="container">

    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="col-6">
                    {{# productId }}
                    <input type="hidden" value="{{ productId }}" id="productId"/>
                    {{/ productId }}
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img
                                src="https://cdn.bmf.kr/_data/product/I21A3/b3b7ce9d8cf1ee91166fe97785d51d8a.jpg"/>
                        </div>
                        <div class="tab-pane" id="pic-2"><img
                                src="https://cdn.bmf.kr/_data/product/I21A3/da9a106836a01d411897eb94b37e7c9c.jpg"/>
                        </div>
                        <div class="tab-pane" id="pic-3"><img
                                src="https://cdn.bmf.kr/_data/product/I21A3/b3b7ce9d8cf1ee91166fe97785d51d8a.jpg"/>
                        </div>
                        <div class="tab-pane" id="pic-4"><img
                                src="https://cdn.bmf.kr/_data/product/I21A3/313ae78119a1e3ca3d8b565b968ae583.jpg"/>
                        </div>
                        <div class="tab-pane" id="pic-5"><img
                                src="https://cdn.bmf.kr/_data/product/I21A3/f1118854f3e9261c9574ba5cf5c1b94d.jpg"/>
                        </div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li><img src="https://cdn.bmf.kr/_data/product/I21A3/b3b7ce9d8cf1ee91166fe97785d51d8a.jpg"/>
                        </li>
                        <li><img src="https://cdn.bmf.kr/_data/product/I21A3/da9a106836a01d411897eb94b37e7c9c.jpg"/>
                        </li>
                        <li><img src="https://cdn.bmf.kr/_data/product/I21A3/b3b7ce9d8cf1ee91166fe97785d51d8a.jpg"/>
                        </li>
                        <li><img src="https://cdn.bmf.kr/_data/product/I21A3/313ae78119a1e3ca3d8b565b968ae583.jpg"/>
                        </li>
                        <li><img src="https://cdn.bmf.kr/_data/product/I21A3/f1118854f3e9261c9574ba5cf5c1b94d.jpg"/>
                        </li>
                    </ul>
                </div>

                <div class="details col-6">
                    <h3 class="product-name"></h3>
                    <div class="product-title">
                        <span id="product-title"><strong></strong></span>
                    </div>
                    <h4 class="cook"><strong>요리사 : </strong><span id="cook"></span></h4>
                    <h4 class="participate-number"><strong>모집현황 : </strong><span id="participate-number"></span>
                    </h4>
                    <h4 class="participate-date"><strong>모집기간 : </strong><span id="participate-date"></span>
                    </h4>
                    <h4 class="give-time"><strong>나눔시각 : </strong><span
                            id="give-time"><strong></strong></span></h4>
                    <h4 class="give-place"><strong>나눔장소 : </strong><span id="give-place"></span></h4>
                    <h4 class="give-plate"><strong>나눔용기 : </strong><span id="give-plate"></span>
                    </h4>
                    <!--<hr>-->
                    <div class="line-top" style="margin-top:12px; margin-bottom:12px;"></div>
                    <div class="form-check">
                        <label class="form-check-label" for="radio-riders">
                            <input type="radio" class="form-check-input with-gap" id="radio-riders"
                                   name="groupOfRadioGap">
                            배민라이더스</label>
                        <label class="form-check-label" for="radio-self">
                            <input type="radio" class="form-check-input with-gap" id="radio-self"
                                   name="groupOfRadioGap">
                            직접방문</label>
                    </div>

                    <h2 class="price"><strong>나눔금액 : </strong><span id="price"></span><span>원</span>
                    </h2>

                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button" id="register-share"
                                disabled="true"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card">
        <div class="col-12">
            <section id="user-profile">
                <!--user 마이페이지로 이동하는 부분-->
                <a id="user-profile-link" href="#">
                    <div class="user-space">
                        <div>
                            <div id="user-profile-image">
                                <img alt="자연사랑"
                                     src="https://d3qlrgda07sb6k.cloudfront.net/assets/users/default_profile_80-b3d7d85c7ce9ebedc38fb1a755a7c56f5a9173a10ec16cc79e880f88aad06fa4.png">
                            </div>
                            <div id="user-profile-left">
                                <div id="nickname"></div>
                                <div id="region-name"></div>
                            </div>
                        </div>

                        <div id="user-profile-right">
                            <dl id="rating-app">
                                <dt>
                                </dt>
                                <dd id="user-rating">

                                </dd>
                            </dl>
                        </div>
                    </div>
                </a></section>
        </div>
        <div class="col-12">
            <div style="width:100%;border-top:1px solid #e9ecef">

                <section id="product-description">
                    <div class="status"></div>
                    <h1 id="product-name"></h1>
                    <p id="product-category">
                    </p>
                    <time id="product-create-time"></time>
                    <p id="product-price">
                    </p>
                    <div id="product-detail">

                    </div>
                </section>

                <div style="width:100%;border-top:1px solid #e9ecef">

                    <section id="product-comments">
                        <div class="review-and-register">
                            <div id="reviews-count">
                            </div>
                            <div id="review-register">
                                <a href="#" id="open-modal">리뷰 등록</a>
                            </div>
                        </div>
                        <a href="#" id="show-review-prev">이전 보기</a>
                        <a href="#" id="show-review-next">다음 보기</a>
                        <ul id="product-comments-list">
                        </ul>
                    </section>

                    <div class="overlay is-hidden" id="overlay">
                        <div class="modal-content">
                            <span class="button-close" id="close-modal">&times;</span>
                            <h4>리뷰 등록</h4>
                            <div class="form-group line">
                                <textarea class="form-control" id="comment" rows="5" placeholder="리뷰를 등록해주세요"
                                          style="margin-top:10px;"></textarea>
                            </div>

                            <form class="rating" id="product1">
                                <button type="submit" class="star" data-star="1">
                                    &#9733;
                                    <span class="screen-reader">1 Star</span>
                                </button>

                                <button type="submit" class="star" data-star="2">
                                    &#9733;
                                    <span class="screen-reader">2 Stars</span>
                                </button>

                                <button type="submit" class="star" data-star="3">
                                    &#9733;
                                    <span class="screen-reader">3 Stars</span>
                                </button>

                                <button type="submit" class="star" data-star="4">
                                    &#9733;
                                    <span class="screen-reader">4 Stars</span>
                                </button>

                                <button type="submit" class="star" data-star="5">
                                    &#9733;
                                    <span class="screen-reader">5 Stars</span>
                                </button>
                            </form>
                            <button type="submit" id="register-review" class="btn btn-info" style="float:right;">등록
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
