{{#partial "header"}}
    <link rel="stylesheet" href="/css/tui/codemirror.css">
    <link rel="stylesheet" href="/css/tui/github.css">
    <link rel="stylesheet" href="/css/tui/tui-editor.min.css">
    <link rel="stylesheet" href="/css/tui/tui-editor-contents.min.css">

    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/image-viewer.css">

    <script src="/js/lib/tui/markdown-it.js" defer></script>
    <script src="/js/lib/tui/to-mark.js" defer></script>
    <script src="/js/lib/tui/tui-code-snippet.js" defer></script>
    <script src="/js/lib/tui/codemirror.js" defer></script>
    <script src="/js/lib/tui/highlight.pack.js" defer></script>
    <script src="/js/lib/tui/squire-raw.js" defer></script>
    <script src="/js/lib/tui/tui-editor-Editor.min.js" defer></script>

    <script src="/js/rating.js" defer></script>
    <script src="/js/detail.js" type="module" defer></script>
{{/partial}}

{{#partial "contents"}}
<div class="this-is-temporary detail-contents" style="width: 1000px; background: #fff; margin: 0 auto; padding: 20px;">

</div>
{{/partial}}

{{> base}}