{{#partial "header"}}
<link href="/css/index.css" rel="stylesheet">
<script src="/js/index.js" type="module" defer></script>
{{/partial}}

{{#partial "contents"}}
<!-- upload -->
<div class="container">
    <a class="btn btn-primary font-weight-bold btn-upload" href="/upload" role="button">나눔하기</a>
</div>

<!-- search bar -->
<div class="container justify-content-center d-flex pl-5 pr-5 pb-5">
    <select class="custom-select form-control search-selector" required="">
        <option value="1" selected>지역</option>
        <option value="2">요리사</option>
        <option value="3">요리</option>
    </select>
    <div class="input-group ml-3">
        <input type="text" class="form-control" placeholder="검색어를 입력해주세요." aria-label="검색어를 입력해주세요." aria-describedby="button-search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-search">찾기</button>
        </div>
    </div>
</div>

<!-- products -->
<div class="card-columns">

</div>

{{/partial}}

{{> base }}