{{#partial "header"}}
    <script src="/js/lib/postcode.v2.js?autoload=false" defer></script>
    <script src="/js/signup.js" type="module" defer></script>
    <link href="/css/user.css" rel="stylesheet">

{{/partial}}

{{#partial "contents"}}
<div class="signup-contents" style="width: 500px; background: #fff; margin: 0 auto; padding: 20px; margin-top:40px;">
    <div class="main-login main-center">
        <form method="post" id="signupForm" action="#">
            <div class="form-group">
                <label class="control-label">이메일</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="email"
                           placeholder="이메일을 입력하세요" required/>
                </div>
                <strong name="invalid-email" style="color:red; visibility:hidden;">유효하지 않은 이메일입니다.</strong>
            </div>

            <div class="form-group">
                <label class="control-label">이름</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요" required/>
                </div>
                <strong name="invalid-name" style="color:red; visibility:hidden;">유효하지 않은 이름입니다.</strong>
            </div>

            <div class="form-group">
                <label class="control-label">비밀번호</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="password"
                           placeholder="비밀번호를 입력하세요(영어 소문자, 숫자, 특수문자 포함 8~16자)" required/>
                </div>
                <strong name="invalid-password" style="color:red; visibility:hidden;">유효하지 않은 비밀번호입니다.</strong>
            </div>

            <div class="form-group">
                <label class="control-label">비밀번호 확인</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="confirm"
                           placeholder="비밀번호를 한번 더 입력하세요" required/>
                </div>
                <strong name="invalid-confirmPassword" style="color:red; visibility:hidden;">비밀번호와 동일하지
                    않습니다.</strong>
            </div>

            <div class="form-group">
                <label class="control-label">이동전화</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="phoneNumber"
                           placeholder="전화번호 입력 형식(010-0000-0000)" required/>
                </div>
                <strong name="invalid-phoneNumber" style="color:red; visibility:hidden;">유효하지 않은 전화번호입니다.</strong>
            </div>

            <div class="form-group">
                <label class="control-label">주소</label>
                <div>
                    <div style="display:inline-block;">
                        <input type="button" name="find-postcode" class="btn btn-primary btn-sm"
                               style="color:#fff" value="우편번호 찾기"/><br>
                    </div>
                </div>
                <div>
                    <input type="text" name="address" class="form-control" placeholder="주소를 입력하세요" readonly>
                    <input type="text" name="address-detail" class="form-control" placeholder="상세 주소를 입력하세요" required>
                </div>

                <div id="layer"
                     style="visibility:hidden;position:fixed;overflow:hidden;z-index:10;-webkit-overflow-scrolling:touch;">
                    <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png"
                         id="btnCloseLayer"
                         style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1"
                         alt="닫기 버튼">
                </div>
                <strong name="invalid-address" style="color:red; visibility:hidden;">주소를 입력하세요.</strong>
            </div>

            <div class="form-group ">
                <button target="_blank" type="submit" id="button"
                        class="btn btn-primary btn-lg btn-block login-button">회원가입
                </button>
            </div>

        </form>
    </div>
</div>
{{/partial}}

{{> base}}