{{#partial "header"}}
    <link href="/css/tui/codemirror.css" rel="stylesheet">
    <link href="/css/tui/github.css" rel="stylesheet">
    <link href="/css/tui/tui-editor.min.css" rel="stylesheet">
    <link href="/css/tui/tui-editor-contents.min.css" rel="stylesheet">

    <link href="/css/upload.css" rel="stylesheet">
    <link href="/css/image-viewer.css" rel="stylesheet">

    <script src="/js/lib/moment.js" defer></script>
    <script src="/js/lib/moment-round.min.js" defer></script>

    <script src="/js/lib/tui/markdown-it.js" defer></script>
    <script src="/js/lib/tui/to-mark.js" defer></script>
    <script src="/js/lib/tui/tui-code-snippet.js" defer></script>
    <script src="/js/lib/tui/codemirror.js" defer></script>
    <script src="/js/lib/tui/highlight.pack.js" defer></script>
    <script src="/js/lib/tui/squire-raw.js" defer></script>
    <script src="/js/lib/tui/tui-editor-Editor.min.js" defer></script>

    <script src="/js/upload.js" type="module" defer></script>
{{/partial}}

{{#partial "contents"}}
<div class="fix-width-center py-5" style="width: 800px;">
    <form id="upload-form" enctype="multipart/form-data">
        <div class="form-group upload">
            <label>이미지 등록</label>
            <div class="fluid-box">
                <div id="image-viewer" class="left-group">

                </div>
                <div class="left-group" style="padding-top: 120px;">
                    <ul>
                        <li>상품 이미지를 끌어와 등록할 수 있습니다.</li>
                        <!--<li>상품 이미지는 400*400에 최적화 되어있습니다.</li>-->
                        <!--<li>이미지는 상품 등록시 정사각형으로 짤려서 등록됩니다.</li>-->
                        <!--<li>확대하기를 누를 경우 원본이미지를 확인할 수 있습니다.</li>-->
                        <li>사진을 클릭 후 이동하여 등록순서를 변경할 수 있습니다.</li>
                        <li>최대 10M까지 업로드할 수 있습니다.</li>
                        <!--<li>이미지를 첨부하지 않을 경우 카테고리에 해당하는 아이콘이 기본으로 등록됩니다.</li>-->
                    </ul>
                    <br>
                    <button class="btn btn-primary upload ml-4">이미지 선택</button>
                    <span class="feedback ml-4"></span>
                </div>
            </div>
        </div>

        <div id="category-section" class="form-group">
            <label class="control-label">카테고리</label>
            <div class="wrapper"></div>
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">음식명</label>
            <input type="text" class="form-control" name="name" id="product-name" placeholder="음식명을 입력하세요." minlength="1" maxlength="32" required>
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">제목</label>
            <input type="text" class="form-control" name="title" id="product-title" placeholder="제목을 입력하세요. (최대 40자)" minlength="1" maxlength="40" required>
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">가격</label>
            <input type="number" class="form-control" name="price" id="product-price" placeholder="가격을 입력하세요. (숫자로만 입력 / 1000원 단위)" step="1000" min="0" max="1000000" required>
            <input type="checkbox" id="price-free"> 무료
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">내용</label>
            <input type="hidden" name="description" minlength="1" maxlength="100000">
            <div id="editSection"></div>
            <span class="feedback"></span>
        </div>

        <hr class="m-5">

        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=60b17dbcebe7c345e753fc50e2e245d3&libraries=services"></script>
        <div class="form-group location">
            <label class="control-label">나눔 장소</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend" id="button-addon3">
                    <button class="btn btn-primary current" type="button"><i class="fa fa-location-arrow"></i></button>
                    <button class="btn btn-secondary home" type="button"><i class="fa fa-home"></i></button>
                </div>
                <input type="text" class="form-control" name="address" id="product-address" placeholder="나눔장소를 입력하세요." minlength="1" maxlength="50" required>
                <input type="text" class="form-control" name="addressDetail" id="product-address-detail" placeholder="상세 주소 입력" minlength="1" maxlength="50" required>
                <input type="hidden" name="latitude">
                <input type="hidden" name="longitude">
            </div>
            <div id="map" style="width:800px;height:600px;"></div>
        </div>

        <div class="form-group">
            <label class="control-label">모집인원</label>
            <select class="custom-select form-control" name="maxParticipant" id="product-max-participant" required>
                <option value="">모집인원 선택</option>
                <option value="1">1명</option>
                <option value="2">2명</option>
                <option value="3">3명</option>
                <option value="4">4명</option>
                <option value="5">5명</option>
                <option value="6">6명</option>
            </select>
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">모집기간</label>
            <input type="datetime-local" class="form-control" id="product-expire" step="600"
                   name="expireDateTime">
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">나눔시간</label>
            <input type="datetime-local" class="form-control" id="product-share" step="600"
                   name="shareDateTime">
            <span class="feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">나눔용기</label><br>
            <input type="radio" name="isBowlNeeded" id="inlineRadio1" value="true" checked> 필요함
            <input type="radio" name="isBowlNeeded" id="inlineRadio2" value="false"> 필요하지 않음
            <span class="feedback"></span>
        </div>

        <button type="submit" id="upload-button" class="btn btn-lg btn-primary btn-block mt-5">확인</button>

    </form>
</div>
{{/partial}}

{{> base }}